[Unit]
Description=Servicio de lectura de sensores de la bici
After=network.target

[Service]
WorkingDirectory=/home/pi/bike_sensores
User=pi

ExecStartPre=/bin/sh -c 'truncate -s 0 /home/pi/bike_sensores/logs/output.log || true'
ExecStartPre=/bin/sh -c 'truncate -s 0 /home/pi/bike_sensores/logs/error.log || true'

ExecStart=/bin/bash /home/pi/bike_sensores/setup.sh 

Restart=always

StandardOutput=append:/home/pi/bike_sensores/logs/output.log
StandardError=append:/home/pi/bike_sensores/logs/error.log

[Install]
WantedBy=multi-user.target
